### 문제1
- 제품 1, 2, 3의 판매량을 조사하니, 각 324대, 78대, 261대였다.(총 663대)<br>
  제품의 판매량 비율이 A : 56%, B : 12%, C :32%이라고 했을 때,<br>
  해당 비율을 따르는 지 검증하시오?

In [2]:
import pandas as pd
xo, xe = [324, 78, 261], [371, 80, 212] # 관찰빈도, 기대빈도
xc = pd.DataFrame([xo, xe], columns = ['아이템1','아이템2','아이템3'], index = ['관찰','기대'])

xc

    아이템1  아이템2  아이템3
관찰   324    78   261
기대   371    80   212

In [ ]:
# barplot으로 간단히 시각화(관찰도수, 기대도수)

In [ ]:
#카이제곱 검정 수행 및 결론도출

### 문제2
- 제품 1, 2, 3의 남성, 여성별(성별에 따른) 판매량 차이에 대해 카이제곱 검정을 수행하시오

In [8]:
xf, xm = [269,83,215],[155,57,181]
x = pd.DataFrame([xf,xm], columns = ['아이템1','아이템2','아이템3'],index = ['여성','남성'])
x

    아이템1  아이템2  아이템3
여성   269    83   215
남성   155    57   181

In [ ]:
# 교차검증 수행 및 결론 도출